.login-container {
    background-color: #1B1A55;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.login-credential {
    background-color: white;
    padding: 100px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.login-credential h2 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    width: 100%;

}


.login-container p {
    margin-top: 10px;
}

.login-container p a {
    color: #0906df;
    text-decoration: none;
}

.login-container p a:hover {
    text-decoration: underline;
}
